.fightarea{
    display: flex;
    gap: 20px;
}

#char, #monster{
    flex: 1;
}

.lifebar{
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: rgb(73, 233, 73);
    border-radius: 5px;
}

.log{
    border: 1px solid #999;
    height: 100%;
    overflow-y: scroll;
}


.attackButton{
    background-color: red;
    margin: 10px;
    border-radius: 50%;
    border: 0;
    height: 50px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}